@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('./../fonts/Proxima Nova Regular.otf') format('opentype');
    font-weight: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('./../fonts/Proxima Nova Bold.otf') format('opentype');
    font-weight: bold;
}


@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('./../fonts/Proxima Nova Light.otf') format('opentype');
    font-weight: 300
}

@tailwind utilities;
