{% extends 'base.twig' %}

{% block base_content %}
    <div class="container mx-auto flex flex-col md:justify-center">
        <div class="text-center">
            <h1 class="text-8xl mt-32 md:-mt-32 mb-12 font-bold">
                404
            </h1>

            <div class="text-xl">
                <p class="text-4xl">Oeps, de pagina die je zocht is niet gevonden</p>

                <p>
                    You can read the full Twig documentation <a href="{{ twig_info.twig_docs_url }}" target="_blank">here</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}