<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html {{ language_attributes | raw }}>
    {% include head|default('layout/base-head.twig') %}
    <body class="{{ body_class | raw }}">
        {{ action('after_body_open') }}
        {% block header %}{% endblock %}
        <div class="flex min-h-screen w-full h-full flex-col">
            {% block base_content %}
                {% include 'content/base-content.twig' %}
            {% endblock %}
        </div>
        {% include footer|default('layout/base-footer.twig') %}
        {{ action('before_body_close') }}
    </body>
</html>